.primaryColor {
  background-color: #121010;
  color: #D0D0B6;
}

.secondaryColor {
  background-color: #1C1818;
  color: #D0D0B6;
}

.bordered {
  border-radius: 6px;
  border-color: #544;
  border-style: groove;
}

::-webkit-input-placeholder {
   color: #B0B096;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #B0B096;
}

:-ms-input-placeholder {
   color: #B0B096;
}

html {
  height: 100%;
}

body {
  background-color: #1C1818;
  margin: 0;
  height: 100%;
}

#OptionSelector {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 10;
}

#Options {
  position: absolute;
  opacity: 0;
  width: 180px;
  top: 38px;
  right: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  z-index: 10;
  padding: 4px;
  background-color: #1C1818;

  transition: all .5s;
}

.settingLine {
  height: 30px;
}

.settingTag {
  float: left;
  height: inherit;
}

.settingIcon {
  float: right;
  height: 28px;
  width: 28px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: 24px 24px;
}

h4 {
  margin: 0;
  padding-top: 8px;
  padding-left: 4px;
}

a {
  color: #D0D0B6;
  text-decoration: inherit;
}

a:hover {
  color: #A0A086;
}

#BotanyFilter {
  background-image: url("boticon.png");
}

#MiningFilter {
  background-image: url("minicon.png");
}

#EnemyFilter {
  background-image: url("enemyicon.png");
}

#ShowDescription {
  background-image: url("eye-3-24-2.png");
}

#HideDescription {
  background-image: url("eyeclose-24-2.png");
}

#Expand {
  background-image: url("expand.png");
}

#Collapse {
  background-image: url("collapse.png");
}

#BotanyFilter.disabled {
  background-image: url("boticon-disabled.png");
}

#MiningFilter.disabled {
  background-image: url("minicon-disabled.png");
}

#EnemyFilter.disabled {
  background-image: url("enemyicon-disabled.png");
}

#ShowDescription.disabled {
  background-image: url("eye-3-24-disabled-2.png");
}

#HideDescription.disabled {
  background-image: url("eyeclose-24-disabled-2.png");
}

#Expand.disabled {
  background-image: url("expand-disabled.png");
}

#Collapse.disabled {
  background-image: url("collapse-disabled.png");
}

#AppMain {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 40px;
  padding-bottom: 80px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  min-height: 100%;
  box-sizing: border-box;

  transition: all .5s;
}

#Heading {
  white-space: pre;
}

#Heading img {
  vertical-align: bottom;
  white-space: nowrap;
}

h1 {
  margin: 2px;
  letter-spacing: 3px;
  display: inline-block;

  transition: all .5s;
}

h3 {
  margin-left: 36px;
  margin-top: -6px;
  margin-bottom: 20px;
  font-size: 10pt;

  transition: all .5s;

}

#SelectionBar {
  height: 34px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

#SelectionBar .addList {
  height: inherit;
  float: right;
}

#LocationSelector {
  padding: 4px;
  padding-left: 12px;
  outline: none;
  width: 88%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  vertical-align: middle;
  font-size: 16px;
}

#LocationSelector:hover {
  background-color: #1C1818;
}

#AutoComplete {
  z-index: 10;
}

#SearchList {
  margin-top: 4px;
  margin-bottom: 12px;
}

#SearchList .listElement {
  font-size: 14px;
}

#SearchList .listElement .listElementText {
  margin-left: 36px;
  text-transform: capitalize;
}

#SearchList .listElement .listElementClose {
  margin-left: 6px;
  color: #866;

  transition: all .5s;
}

#Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 4px 0;
  margin-top: 4px;

  border-color: #544;
  border-top-style: groove;
}

#Footer span {
  display: inline-block;
}

#Footer a {
  color: #E0C086;
}

#Footer .dash {
  margin: 0 8px;
}

.itemBlock {
  margin-top: 8px;

  transition: all .5s;
}

.itemBlock.disabled {
  margin-top: 0;
  height: 0;
}

.itemBlock.disabled .unexpandedBlock {
  height: 0;
}

.unexpandedBlock {
  height: auto;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.infoArea {
  padding-top: 6px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  height: 64px;
}

.icon img {
  width: 64px;
  height: 64px;
  outline: 4px ridge #544;
  outline-offset: -2px;
  margin-left: 16px;
}

.text {
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 85%;

  transition: all .5s;
}

.text a {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 0px;
}

.text .itemName {
  text-transform: uppercase;
  display: inline-block;
  min-width: 30%;
  white-space: nowrap;
  margin-right: 8px;
}

.text .zones {
  font-size: 14px;
  text-transform: capitalize;
  display: inline-block;
  color: #C0C0A6;

  transition: all .5s;
}

.text p {
  font-size: 13px;
  margin-left: 16px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: #A09696;
  white-space: normal;

  transition: all .5s;
}

.expandButtons span {
  border: 2px groove #544;
  border-radius: 10px;
  font-size: 13px;
  padding: 0px 6px 0px 6px;
  display: inline-block;
  white-space: nowrap;

  transition: all .5s;
}

.expandButtons span.enabled.plus::after {
  content: " +";
}

.expandButtons span.enabled.minus::after {
  content: " -";
}

.expandButtons span +span {
    margin-left: 8%;
}

.expandButtons span.disabled {
  color: #626060;
}

.expandedBlock {
  opacity: 0;
  overflow: hidden;
  height: 0;
  margin-left: 16px;
  margin-right: 16px;
}

.bordered.expandedBlock {
  border-top-style: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.expand {
    opacity: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 14px;
}

.expand span {
  white-space:nowrap;
  display: inline-block;
}

.expand .enemyName {
  width: 55%;
}

.expand .nodeLevel {
  width: 20%;
}

.expand .gatheringLevel {
  width: 35%;
}

.ui-autocomplete {
    max-height: 200px;
    left: 2% !important;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-style: none;
    border-left-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-color: #544;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 94% !important;
    box-sizing: border-box;
    padding-left: 0;
  }

.ui-menu li {
  list-style: none;
}

.ui-menu .ui-menu-item div {
  background: #1C1818;
  padding: 6px;
  font-size: 12px;
  color: #D0D0B6;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.ui-menu .ui-menu-item .ui-state-active {
  background: #282626;
}

.ui-helper-hidden-accessible {
  display: none;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 22px;
  }

  .text .itemName {
    display: block;
  }

  .text .zones {
    width: 95%;
    word-wrap: break-word;
    white-space: normal;
  }

  .text {
    width: 78%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 22px;
  }

  .text {
    width: 73%;
  }

  .expand span {
    display: block;
  }

/* All but first */
  .expand span + span {
    margin-left: 16px;
  }

  .expandButtons span {
    border-radius: 0px;
    font-size: 16px;
  }

  .expandButtons span + span {
    margin-left: 3%;
  }

  #SearchList .listElement .listElementClose {
    font-size: 18px;
  }
}

@media only screen and (max-width : 480px) {
  #AppMain {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    margin-left: 32px;
    font-size: 20px;
  }

  h3 {
    margin-left: 60px;
  }

  .bordered:not(.settingIcon) {
    border-radius: 0px !important;
    border-left-style: none;
    border-right-style: none;
  }

  .expandedBlock {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 8px
  }

  #Options {
    width: 100%;
  }

  #Options .settingTag {
    padding-left: 16px;
  }
}

@media only screen and (max-width : 320px) {
  .text {
    width: 65%;
  }

  .text p {
    margin-left: 8px;
  }

  .expandButtons span + span {
    margin-left: 2%;
  }

  h1 {
    margin-left: 16px;
    font-size: 18px;
  }
}
