.primaryColor {
  background-color: #121010;
  color: #D0D0B6;
}

.secondaryColor {
  background-color: #181616;
  color: #D0D0B6;
}

.bordered {
  border-radius: 6px;
  border-color: #544;
  border-style: groove;
}

::-webkit-input-placeholder {
   color: #B0B096;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #B0B096;
}

:-ms-input-placeholder {
   color: #B0B096;
}

html {
  height: 100%;
}

body {
  background-color: #181616;
  margin: 0;
  height: 100%;
}

#AppMain {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 40px;
  min-width: 448;
  padding-bottom: 80px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  min-height: 100%;
  box-sizing: border-box;

  transition: all .5s;
}

#Heading img {
  vertical-align: bottom;
}

h1 {
  margin: 2px;
  letter-spacing: 3px;
  display: inline-block;

  transition: all .5s;
}

h3 {
  margin-left: 36px;
  margin-top: -6px;
  margin-bottom: 20px;
  font-size: 10pt;

  transition: all .5s;

}

#SelectionBar {
  height: 34px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

#SelectionBar .addList {
  height: inherit;
  float: right;
}

#LocationSelector {
  padding: 4px;
  padding-left: 12px;
  outline: none;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  vertical-align: middle;
  font-size: 16px;
}

#LocationSelector:hover {
  background-color: #181616;
}

#AutoComplete {
  z-index: 10;
}

#SearchList {
  margin-top: 4px;
  margin-bottom: 12px;
}

#SearchList .listElement {
  font-size: 14px;
}

#SearchList .listElement .listElementText {
  margin-left: 36px;
  text-transform: capitalize;
}

#SearchList .listElement .listElementClose {
  margin-left: 6px;
  color: #866;

  transition: all .5s;
}

.itemBlock {
  margin-top: 8px;
}

.unexpandedBlock {
  height: auto;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.infoArea {
  padding-top: 6px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  height: 64px;
}

.icon img {
  width: 64px;
  height: 64px;
  outline: 4px ridge #544;
  outline-offset: -2px;
  margin-left: 16px;
}

.text {
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 85%;

  transition: all .5s;
}

.text h2 {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 0px;
}

.text .itemName {
  text-transform: uppercase;
  display: inline-block;
  min-width: 30%;
  white-space: nowrap;
  margin-right: 8px;
}

.text .zones {
  font-size: 14px;
  text-transform: capitalize;
  display: inline-block;
  color: #C0C0A6;

  transition: all .5s;
}

.text p {
  font-size: 13px;
  margin-left: 16px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: #A09696;
  white-space: normal;
}

.expandButtons span {
  border: 2px groove #544;
  border-radius: 10px;
  font-size: 13px;
  padding: 0px 6px 0px 6px;
  display: inline-block;
  white-space: nowrap;

  transition: all .5s;
}

.expandButtons span +span {
    margin-left: 8%;
}

.expandButtons span.disabled {
  color: #626060;
}

.expandedBlock {
  opacity: 0;
  overflow: hidden;
  height: 0;
  margin-left: 16px;
  margin-right: 16px;
}

.bordered.expandedBlock {
  border-top-style: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.expand {
    opacity: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 14px;
}

.expand span {
  white-space:nowrap;
  display: inline-block;
}

.expand .enemyName {
  width: 55%;
}

.expand .nodeLevel {
  width: 20%;
}

.expand .gatheringLevel {
  width: 35%;
}

.ui-autocomplete {
    max-height: 200px;
    left: 2% !important;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-style: none;
    border-left-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-color: #544;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 94% !important;
    box-sizing: border-box;
    padding-left: 0;
  }

.ui-menu li {
  list-style: none;
}

.ui-menu .ui-menu-item div {
  background: #181616;
  padding: 6px;
  font-size: 12px;
  color: #D0D0B6;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.ui-menu .ui-menu-item .ui-state-active {
  background: #282626;
}

.ui-helper-hidden-accessible {
  display: none;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 22px;
  }

  .text .itemName {
    display: block;
  }

  .text .zones {
    width: 95%;
    word-wrap: break-word;
    white-space: normal;
  }

  .text {
    width: 78%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 22px;
  }

  .text {
    width: 73%;
  }

  .expand span {
    display: block;
  }

/* All but first */
  .expand span + span {
    margin-left: 16px;
  }

  .expandButtons span {
    border-radius: 0px;
    font-size: 16px;
  }

  .expandButtons span + span {
    margin-left: 3%;
  }

  #SearchList .listElement .listElementClose {
    font-size: 18px;
  }
}

@media only screen and (max-width : 480px) {
  #AppMain {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    min-width: 480px;
  }

  h1 {
    margin-left: 32px;
    font-size: 20px;
  }

  h3 {
    margin-left: 60px;
  }

  .bordered {
    border-radius: 0px !important;
    border-left-style: none;
    border-right-style: none;
  }

  .expandedBlock {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 8px
  }
}

@media only screen and (max-width : 320px) {
  #AppMain {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    min-width: 320px;
  }

  .text {
    width: 65%;
  }

  .text p {
    margin-left: 8px;
  }

  .expandButtons span + span {
    margin-left: 2%;
  }

  h1 {
    margin-left: 16px;
    font-size: 18px;
  }
}
